extends layout

block meta
  title JSON Web Token Introduction - jwt.io
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
  meta(name='author', content='auth0.com')
  meta(name='description', content='Learn about JSON Web Tokens, what are they, how they work, when and why you should use them.')
  meta(name='canonical', content='https://auth0.com/learn/json-web-tokens/')
  link(rel="canonical", href="https://jwt.io/introduction")

block content
  section.banner-jwt
    .container
      a.logo(href='/')
        img(src='/img/pic_logo.svg' alt='JWT logo')

      h1 Introduction to JSON Web Tokens

  section.plain-text
    .container
      include:markdown-it md/introduction.md

  section.go-tool
    .container
      p Get started with JWT today
      a(href='/#debugger').btn.btn-success Start using the tool

  include counter.pug

  script(src='/js/introduction.js')
